<body id="home-bg">
  <section id="menu-container">
    <h1>Drones Ironhack</h1>
      <a id="home-button" href="/drones">List of drones</a>
      <a id="home-button" href="/drones/create">Add a new drone</a>
  </section>
</body>